/*
@font-face{
    font-family: 'Segoe UI';
    src: url('fonts/Segoe-UI.eot');
    src: url('fonts/Segoe-UI.woff');
}
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 400;
	line-height: 24px;
	font-size: 16px;
	color: #0E2D22;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1280px;
	margin: 0 auto;
	padding: 30px;
}

.main-menu-logo-group {
	display: flex;
	align-items: center;
	width: 137px;
	justify-content: space-between;
}

.search-input-text {
	text-align: center;
	border: 1px solid #D1DBD6;
	border-radius: 1000px;
	padding: 8px;
	min-width: 227px;
}

.user-menu {
	width: 245px;
}

.user-menu ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.user-menu .btn-style1 {
	text-transform: capitalize;
}

button {
	cursor: pointer;
}

.btn-style1 {
	border-radius: 1000px;
	padding: 3px 10px;
	background-color: transparent;
	border-color: transparent;
}

.btn-style1:hover,
.btn-style2:hover {
	background-color: orange;
}

.btn-style2 {
	background-color: #0E2D22;
	border-radius: 1000px;
	border: none;
	padding: 3px 17px;
	color: #F4F1ED;
}

.btn-style2:hover {
	color: #0E2D22;
}

.btn-style3 {
	background-color: #0E2D22;
	border-radius: 1000px;
	color: #CBDDBF;
	padding: 3px 17px;

}

main {
	max-width: 1280px;
	margin: 0 auto;
}
