/* desktop styles */

@media only screen and (min-width:769px) {
	header {
		padding: 30px;
		/*max-width: 1280px;*/
	}

	.main-menu {
		margin: 15px;
	}

	.main-menu-logo-group {
		width: 137px;
		flex: 0 1 245px;
	}

	.search {
		flex: 0 1 245px;
	}

	.search-input-text {
		padding: 8px;
		min-width: 227px;
	}

	.user-menu {
		flex: 0 1 245px;
		width: 245px;
	}

	main {
	}

	.hero-section {
		position: relative;
		width: 100%;
		margin: -114px auto 0;
		background-color: #F4F1ED;
	}

	.hero-section img {
		width: 60%;
		height: auto;
	}

	.hero-section img:nth-child(2) {
		display: none;
	}

	.hero-text {
		width: 50%;
		margin: 70px;
	}

	.hero-text h1 {
		font-size: 66px;
	}

	.hero-text p {
		margin-top: 33px;
		line-height: 24px;
	}

	.hero-text button {
		margin-top: 45px;
	}

	.how-it-works-section {
		padding: 117px 132px;
		display: flex;
		background-color: #F4F1ED;
	}

	.how-it-works-section>div {
		margin 0 32px;
	}

	.how-it-works-text {
		max-width: 359px;
	}

	.how-it-works-text h1 {
		font-family: 'Times New Roman';
		font-weight: 400;
		font-size: 44px;
		color: #0E2D22;
	}
}
